<%# anchor link %>
<%= link_to root_path do %>
  <%= inline_svg_tag "svg/podlogo.svg", class: "header__logo" %>
<% end %>

<%# search form partial %>
<%= render 'shared/search-bar' %>

<%# login links %>
<nav>
  <ul class="header__list">
    <% if user_signed_in? %>
      <li class="header__list-item">
      <%= link_to "Profile", profile_path(@profile), class: "header__link" %>
      <%= link_to "Log Out", destroy_user_session_path, method: :delete , class: "header__link" %>
      </li>
    <% else %>
      <li class="header__list-item">
      <%= link_to "Sign In", new_user_session_path, class: "header__link" %>
      </li>
      <li class="header__list-item">
      <%= link_to "Register", new_user_registration_path, class: "header__link header__register"%>
      </li>
    <% end %>
  </ul>
</nav>