<div class="episode-card__container">
  <%=  link_to podcast_path(podcast), class: "episode-card__img"  do %> 
    <%= image_tag(podcast.image_url, alt: podcast.title, class:"episode-card__img", size:"110x110", loading: "lazy") %>
  <% end %>
  <div class="episode-card__header-container">
    <p class="episode-card__title"><%= episode.title %></p>
    <div class="episode-card__date-container">
      <%= inline_svg_tag "svg/watch_later", class: "episode-card__date-icon" %>
      <p class="episode-card__date-text">
      <%= format_published_date(episode.published_date) %>
      </p>
      <%= inline_svg_tag "svg/hourglass_bottom", class: "episode-card__date-icon" %>
      <p class="episode-card__date-text">
      <%= format_duration(episode.duration) %>
      </p>
    </div>
  </div>
  <p class="episode-card__description"><%= episode.itunes_subtitle %></p>
  <div class="episode-card__tag-container">
  TBD!
  </div>
  <audio controls preload="none">
    <source src="<%= episode.enclosure_url %>" type="<%= episode.enclosure_type %>"> 
    Your browser does not support the audio element. Your browser sucks!
  </audio>
</div>