<%= form_with model: @review do |form| %>
  <% if @review.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(review.errors.count, "error") %> prohibited this review from being saved:</h2>

      <ul>
        <% @review.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :rating %>
    <%= form.select :rating, (1..5).to_a %>
  </div>

  <div class="field">
    <%= form.label :content %>
    <%= form.text_area :content %>
  </div>

  <%= form.hidden_field :podcast_id, value: @review.podcast_id %>
  <%= form.hidden_field :profile_id, value: @review.profile_id %>

  <div class="actions">
    <%= form.submit "Leave Review!" %>
  </div>
<% end %>
