<div class="">
  <% if @podcasts.empty? %>
  <h2 class="">Sorry, no results found!</h2>
  <% else %>
  <h2><%= "Search results for: #{@query}" %></h2>
  <p><%= "#{@pagy.count} results found" %></p>
  <% end %>
</div>

<div 
  data-controller="paginator"
  data-paginator-current-value="1"
  data-paginator-total-value=<%= @pagy.pages %>
  data-paginator-url-value=<%= pagy_url_for(@pagy,1) %>>

  <div data-paginator-target="container">
    <%= render partial: "podcast-list", locals: {podcasts: @podcasts} %>
  </div>

  <div class="btn-load-more-container">
    <button 
      class="btn-load-more"
      data-action="click->paginator#paginate" 
      data-paginator-target="button">
        Load More Results!
    </button>
  </div>
</div>

