<div 
  class="podcast-index__container"
  data-controller="tab"
  data-tab-active-class-value="active"
  data-tab-index-value="0">

  <%= render partial: "podcast-detail", locals: {podcast: @podcast} %>

  <ul class="podcast-index__nav-list" >
    <li 
      class="podcast-index__nav-list-item" 
      data-tab-target="tab"
      data-action="click->tab#switch">
      <button class="podcast-index__nav-button" type="button" role="tab">
        Episodes
      </button>        
      <span class="podcast-index__nav-badge"><%= @episode_pagy.count %></span>
    </li>

    <li 
      class="podcast-index__nav-list-item" 
      data-tab-target="tab"
      data-action="click->tab#switch">
      <button class="podcast-index__nav-button" type="button" role="tab">
        Reviews
      </button>        
      <span class="podcast-index__nav-badge"><%= @review_pagy.count %></span> 
    </li>
  </ul>
  
  <div class="podcast-index__container-main">

    <%= render 'podcast-nav-tab', paginator: @episode_pagy do %>
      <div data-paginator-target="container">
      <%= render partial: 'episodes/episode-list', locals: {episodes: @episodes, podcast: @podcast} %>
      </div>
    <% end %>
    
    <%= render 'podcast-nav-tab', paginator: @review_pagy do %>
      <div data-paginator-target="container">
      <%= render partial: 'reviews/review-list', locals: {reviews: @reviews} %>
      </div>
    <% end %>
    
  </div>

  <div class="podcast-index__container-sidebar">
  <% if user_signed_in? %>
  <%= button_to "Leave a Review!", new_review_path(current_user.profile), params: {podcast_id: @podcast.id}, method: :get %> 
  <%= button_to "Like!", likes_path(current_user.profile), remote: true, params: { like: {profile_id: current_user.profile.id, likeable_id: @podcast.id, likeable_type: @podcast.class} }, method: :post %> 
  <% end %>
  </div>
</div>