<div 
  class="podcast-index__container"
  data-controller="tab"
  data-tab-active-class-value="active"
  data-tab-index-value="0">

  <%= render partial: "podcast-detail", locals: {podcast: @podcast} %>

  <ul class="podcast-index__nav-list" >
    <li 
      class="podcast-index__nav-list-item" 
      data-tab-target="tab"
      data-action="click->tab#switch">
      <button class="podcast-index__nav-button" type="button" role="tab">
        Episodes
      </button>        
      <span class="podcast-index__nav-badge"><%= @episode_pagy.count %></span>
    </li>

    <li 
      class="podcast-index__nav-list-item" 
      data-tab-target="tab"
      data-action="click->tab#switch">
      <button class="podcast-index__nav-button" type="button" role="tab">
        Reviews
      </button>        
      <span class="podcast-index__nav-badge">TBD </span> 
    </li>
  </ul>
    
    <%# Below is where we render all of the associated content (eps, reviews) %>
    <%# Everything gets rendered, then we switch visibility using the nav buttons %>
  <div class="podcast-index__container-main">
    <div 
      class="podcast-index__container-episodes"
      data-tab-target="pane"
      data-controller="paginator"
      data-paginator-current-value="1"
      data-paginator-total-value=<%= @episode_pagy.pages %>
      data-paginator-url-value=<%= pagy_url_for(@episode_pagy,1) %>>

      <div data-paginator-target="container">
      <%= render partial: 'episodes/episode-list', locals: {episodes: @episodes, podcast: @podcast} %>
      </div>

      <% if @episode_pagy.count > Pagy::VARS[:items] %>
        <div class="btn-load-more-container">
          <button 
            class="btn-load-more"
            data-action="click->paginator#paginate" 
            data-paginator-target="button">
              Load More Results!
          </button>
        </div>
      <% end %>
      
      
      <%# do same thing for reviews  %>
    </div>
  </div>

  <div 
    class="podcast-index__container-main"
    data-tab-target="pane">
    TBD folks!
  </div>

  <div class="podcast-index__container-sidebar">
  <% if user_signed_in? %>
  <%= button_to "Leave a Review!", new_profile_review_path(current_user.profile), params: {podcast_id: @podcast.id}, method: :get %> 
  <% end %>
  </div>
</div>