<!DOCTYPE html>
<html>
  <head>
    <title>Podpeople</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700;800&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap" rel="stylesheet">
  </head>

  <body class="container">
    
    <header class="header__container header">
      <%= render partial:"shared/header" %>
    </header>
    
    <main class="content__container">
      <%= yield %>
    </main>

    <footer class="footer__container">
      <%= render partial:"shared/footer" %>
    </footer> 
    
  </body>
</html>
